/admitad/admitad/urls.py
/admitad/admitad/settings.py
*.csv
*/venv/
*/main.py
*.cfg
*.xml
*.iml
*.env
*.txt
/admitad/admitad/spiders/test_area.py
/main.py
/venv/
/admitad/admitad/api_zenscrape.py
/admitad/admitad/spiders/test_area_2_encoding.py
/admitad/admitad/files/
